<div
  class="grid grid-cols-3 bg-[url('/assets/image/FONDOS/FONDO_1.png')] min-h-full"
>
  <div class="col-start-2">
    <img
      class="w-60 lg:w-52 xl:w-60 mx-auto bg-white rounded-b-2xl px-8 py-4"
      src="/assets/image/Logos/logo.png"
      alt="logo_universal"
      srcset=""
    />
  </div>
  <!-- IMAGEN -->

  <div class="col-start-1 col-span-2 mt-8 lg:mt-8 xl:-mt-14 2xl:mt-8">
    <img
      class="w-full h-full"
      src="/assets/image/7744160.png"
      alt=""
      srcset=""
    />
  </div>

  <div class="mt-44 px-8 xl:mt-16 2xl:mt-44 xl:px-8">
    <h1 class="text-4xl xl:text-6xl 2xl:text-7xl lg:text-title">Misión</h1>
    <p class="text-justify">
      Poner a disposición de nuestros clientes una oferta amplia y variada en
      nuestras líneas especializadas, respaldada por la asesoría y
      acompañamiento de nuestro equipo de servicio altamente capacitado para
      brindar una experiencia memorable inspirada en los valores que nos hacen
      una empresa unida, comprometida, alegre y trabajadora.
    </p>

    <h1 class="text-4xl xl:text-6xl 2xl:text-7xl text-title">Visión</h1>
    <p class="text-justify">
      Posicionarnos como una empresa líder en la comercialización de las
      categorías de papelería, cosméticos y línea institucional, convirtiéndonos
      en aliados de valor para nuestros clientes y sus emprendimientos. Siendo
      reconocidos por nuestra estructura empresarial sólida, innovadora,
      enfocada en el bienestar de nuestros colaboradores y en generar impacto
      positivo en nuestro entorno.
    </p>
  </div>
</div>
