<div
  class="grid grid-cols-12 bg-[url('/assets/image/FONDOS/FONDO_1.png')] min-h-full"
>
  <div
    class="col-start-5 col-span-4 md:col-start-6 md:col-span-2 xl:col-start-6 2xl:col-start-6"
  >
    <img
      class="bg-white rounded-b-2xl w-full px-3 py-2 xl:w-52 2xl:w-60 md:w-96"
      src="/assets/image/Logos/logo.png"
      alt="logo_universal"
      srcset=""
    />
  </div>
  <!-- IMAGEN -->

  <div
    class="col-start-1 col-span-12 mt-0 md:col-start-1 md:col-span-12 xl:col-start-1 xl:col-span-6 2xl:col-start-1 2xl:col-span-6 lg:mt-8 xl:-mt-14 2xl:mt-8"
  >
    <img
      class="w-full xl:h-full"
      src="/assets/image/7744160.png"
      alt=""
      srcset=""
    />
  </div>

  <div
    class="col-start-1 col-span-12 md:col-start-1 md:col-span-12 xl:col-start-7 2xl:col-start-7 xl:col-span-4 2xl:col-span-4 mt-2 mb-4 px-8 md:mt-0 md:mb-8 xl:mt-16 xl:mb-16 2xl:mt-28 2xl:mb-24 xl:px-8"
  >
    <h1 class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title">
      Misión
    </h1>
    <p class="text-justify text-title">
      Poner a disposición de nuestros clientes una oferta amplia y variada en
      nuestras líneas especializadas, respaldada por la asesoría y
      acompañamiento de nuestro equipo de servicio altamente capacitado para
      brindar una experiencia memorable inspirada en los valores que nos hacen
      una empresa unida, comprometida, alegre y trabajadora.
    </p>

    <h1 class="mt-16 text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title">
      Visión
    </h1>
    <p class="text-justify text-title">
      Posicionarnos como una empresa líder en la comercialización de las
      categorías de papelería, cosméticos y línea institucional, convirtiéndonos
      en aliados de valor para nuestros clientes y sus emprendimientos. Siendo
      reconocidos por nuestra estructura empresarial sólida, innovadora,
      enfocada en el bienestar de nuestros colaboradores y en generar impacto
      positivo en nuestro entorno.
    </p>
  </div>
</div>
