<div class="bg-title py-2">
  <div class="grid grid-cols-12">
    <a
      class="xl: text-white col-start-2 col-span-2 xl:col-span-1 xl:col-start-2"
      href="https://192.168.40.247/"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/SICODES.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        SICODES
      </p>
    </a>
    <a
      class="xl: text-white  col-span-2 xl:col-span-1"
      href="https://web.zenvia.com/zenvia-conversion/login"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/SIRENA.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        SIRENA
      </p>
    </a>
    <a
      class="xl: text-white  col-span-2 xl:col-span-1"
      href="https://discord.gg/czTpPkY8bv"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/DISCORD.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        DISCORD
      </p>
    </a>
    <a class="xl: text-white  col-span-2 xl:col-span-1" href="http://192.168.40.47:9000/" target="_blank">
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/CLIENTES.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        CLIENTES
      </p>
    </a>
    <a
      class="xl: text-white  col-span-2 xl:col-span-1"
      href="http://192.168.40.47/asesor"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/ANUNCIOS.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        ANUNCIOS
      </p>
    </a>
    <a
      class="xl: text-white  col-start-2 col-span-2 xl:col-span-1"
      href="https://app-inventario-universal.web.app/"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/INVENTARIO.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        INVENTARIO
      </p>
    </a>
    <a
      class="xl: text-white  col-span-2 xl:col-span-1"
      href="https://lookerstudio.google.com/u/0/reporting/0b19b391-5b0b-42e5-a5d4-7a7de814ccaa/page/p_nwhjzzbc9c"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/VENTAS.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        VENTAS
      </p>
    </a>

    <!-- APLICAR  -->

    <a
      class="xl: text-white  col-span-2 xl:col-span-1"
      href="https://acortar.link/FqGFAm"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/Catálogo_2024.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        CATALOGOS 2024
      </p>
    </a>
    <a
      class="xl: text-white  col-span-2 xl:col-span-1"
      href="https://acortar.link/SQqkdr"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/Catálogo_2023.png"
        alt=""
        srcset=""
      />
      <p
        class="xl:mx-0 xl:text-center text-sm xl:text-base font-roboto font-bold"
      >
        CATALOGOS
      </p>
    </a>
  </div>
</div>
