<div class="bg-title py-2">
  <div class="grid grid-cols-12">
    <div class="col-start-2 col-end-12">
      <div class="grid grid-cols-4 lg:grid-cols-8">
        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://192.168.40.247/" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/SICODES.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              SICODES
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a
            href="https://web.zenvia.com/zenvia-conversion/login"
            target="_blank"
          >
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/SIRENA.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              SIRENA
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://discord.gg/czTpPkY8bv" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/DISCORD.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              DISCORD
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="http://192.168.40.46:9000" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/INVENTARIO.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              INVENTARIO
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="http://192.168.40.46:4201" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/TICKETS.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              help desk
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="http://192.168.40.47:4202" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/ANUNCIOS.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              Productos nuevos
            </p>
          </a>
        </div>

        <!-- <div class=" lg:col-span-1 text-white justify-self-center">
      <a href="http://192.168.40.47/asesor" target="_blank">
        <img
          class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce "
          src="/assets/image/ICONOS/ANUNCIOS.png"
          alt=""
          srcset=""
        />
        <p class="text-center text-sm xl:text-base font-roboto font-bold uppercase">
          ANUNCIOS
        </p>
      </a>
    </div> -->

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://acortar.link/FqGFAm" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/Catálogo_2024.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              CATALOGOS 2024
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://acortar.link/SQqkdr" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/Catálogo_2023.png"
              alt=""
              srcset=""
            />
            <p
              class="text-center text-sm xl:text-base font-roboto font-bold uppercase"
            >
              CATALOGOS
            </p>
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="col-span-2 lg: text-white justify-self-center">
      <a
        href="https://lookerstudio.google.com/u/0/reporting/0b19b391-5b0b-42e5-a5d4-7a7de814ccaa/page/p_nwhjzzbc9c"
        target="_blank"
      >
        <img
          class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce "
          src="/assets/image/ICONOS/VENTAS.png"
          alt=""
          srcset=""
        />
        <p class="text-center text-sm xl:text-base font-roboto font-bold uppercase">
          VENTAS
        </p>
      </a>
    </div> -->

    <!-- <div class=" lg:col-span-1 text-white justify-self-center">
      <a href="http://192.168.40.47:9000/" target="_blank">
        <img
          class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce "
          src="/assets/image/ICONOS/CLIENTES.png"
          alt=""
          srcset=""
        />
        <p class="text-center text-sm xl:text-base font-roboto font-bold uppercase">
          CLIENTES
        </p>
      </a>
    </div> -->
  </div>
</div>
