<div class="bg-title py-2">
  <div class="grid grid-cols-12">
    <div class="col-start-2 col-end-12">
      <div class="grid grid-cols-4 lg:grid-cols-9">
        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://192.168.40.247/" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/SICODES.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              SICODES
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a
            href="https://192.168.40.47:4203"
            target="_blank"
          >
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/GESTION.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              Gestor de Solicitudes
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a
            href="https://web.zenvia.com/zenvia-conversion/login"
            target="_blank"
          >
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/SIRENA.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              SIRENA
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://discord.gg/czTpPkY8bv" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/DISCORD.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              DISCORD
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="http://192.168.40.47:9000" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/INVENTARIO.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              INVENTARIO
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="http://192.168.40.47:4201" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/TICKETS.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              help desk
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="http://192.168.40.47:4202" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/ANUNCIOS.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              Productos nuevos
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://acortar.link/FqGFAm" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/Catálogo_2024.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              CATALOGOS 2024
            </p>
          </a>
        </div>

        <div class="lg:col-span-1 text-white justify-self-center">
          <a href="https://acortar.link/SQqkdr" target="_blank">
            <img
              class="w-full lg:w-32 lg:hover:w-36 hover:animate-bounce"
              src="/assets/image/ICONOS/Catálogo_2023.png"
              alt=""
              srcset=""
            />
            <p class="text-center text-sm font-roboto font-bold uppercase">
              CATALOGOS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
