<div class="grid grid-cols-1 mx-6 md:mx-14 my-0 xl:mx-20 xl:my-4">
  <!-- EXTENSIONES -->
  <div class="bg-rosado my-4 xl:my-12 rounded-xl shadow-xl">
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      EXTENSIONES
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 mx-8 mt-0 mb-8">
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 111 <span class="font-roboto font-bold">CARTERA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 112 <span class="font-roboto font-bold">VENTASPAP4</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 113 <span class="font-roboto font-bold">SURTIDOR</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 115 <span class="font-roboto font-bold">BOD01LIDER</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 116 <span class="font-roboto font-bold">BODEGA COSMETICOS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 117 <span class="font-roboto font-bold">VENTASPAP1</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 118 <span class="font-roboto font-bold">TESORERIA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 120 <span class="font-roboto font-bold">VENTASPAP3</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 121 <span class="font-roboto font-bold">CONTADORA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 122 <span class="font-roboto font-bold">COSMETICOSPDV</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 123 <span class="font-roboto font-bold">TRANSFERENCIAS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 124 <span class="font-roboto font-bold">CACHARROPDV</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 130 <span class="font-roboto font-bold">CACHARROPDV2</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 168 <span class="font-roboto font-bold">CALLCENT01</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 169 <span class="font-roboto font-bold">CEDI DESPACHOS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 170 <span class="font-roboto font-bold">CALLCENT02</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 171 <span class="font-roboto font-bold">CALLCENT03</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 172 <span class="font-roboto font-bold">CALLCENT04</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 173 <span class="font-roboto font-bold">RECURSO_H</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 135 <span class="font-roboto font-bold">CALLCENTER_CENTRO1</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 176 <span class="font-roboto font-bold">CALLCENTER_CENTRO2</span>
      </p>
    </div>
  </div>

  <!-- CORREOS INSTITUCIONALES-->
  <div class="bg-azulclarito rounded-xl shadow-xl">
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      CORREO INSTITUCIONAL
    </h1>
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mx-8 mt-0 mb-8 gap-x-10"
    >
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ALBA VALENCIA:
        <span class="font-normal">
          contabilidad@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CHRISTIAN RUIZ:
        <span class="font-normal">
          sistemas@distribuidorauniversacali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        NATALIA DUQUE:
        <span class="font-normal">
          asist.contable@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JAMER MUÑOZ:
        <span class="font-normal">
          inventario@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JHONATAN VILLEGAS:
        <span class="font-normal">
          admin.item@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        KELLY RUIZ:
        <span class="font-normal">
          compras2@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        SEBASTIAN HOYOS:
        <span class="font-normal">
          compras3@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        EDINSON SUAREZ:
        <span class="font-normal">
          compras4@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ELIANA BARRERA:
        <span class="font-normal">
          compras5@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        FRANCISCO FERNANDEZ:
        <span class="font-normal">
          logistica@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CLARITA:
        <span class="font-normal">
          gerencia@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ENTRANTE:
        <span class="font-normal">
          factura@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CAMILA MORALES:
        <span class="font-normal"> sst@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JUAN CASTRILLON:
        <span class="font-normal"> costos@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JESSICA CIFUENTES:
        <span class="font-normal">
          tesoreria@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        DIANA:
        <span class="font-normal">
          cartera@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ANDREA MARTINEZ:
        <span class="font-normal"> admon@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        PASOANCHO:
        <span class="font-normal">
          pdv14pasoancho@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        GLORIA MORA:
        <span class="font-normal">
          liderla14@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        DANIELA MARTINEZ:
        <span class="font-normal">
          marketing@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ELECTRÓNICA:
        <span class="font-normal">
          901160842@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        GERSON FERNANDEZ:
        <span class="font-normal">
          devoluciones@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ERIKA PINEDA:
        <span class="font-normal">
          pdvsexta@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        RICARDO ZAMBRANO:
        <span class="font-normal">
          mercadeo@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        LINA MONTENEGRO:
        <span class="font-normal">
          publicidad@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CONTABILIDAD:
        <span class="font-normal">
          posuniversal@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        NELSY VILLOTA:
        <span class="font-normal">
          admoncentro@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        AMPARO RESTREPO:
        <span class="font-normal">
          liderpdvcentro@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JENNIFER CAVICHE:
        <span class="font-normal"> asesor@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        WILSON AGUIRRE: <span class="font-normal"> externo1pud@gmail.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        MILTON GRISALEZ:
        <span class="font-normal"> externo2pud@gmail.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        YANELLA KLINGER:
        <span class="font-normal"> asesor2pudoutlook.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        MARTHA BORJA: <span class="font-normal"> asesor4pud@outlook.com </span>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CONY LUGO: <span class="font-normal"> asesor5pud@outlook.com </span>
      </p>
    </div>
  </div>
</div>
