<!-- <div class="grid grid-cols-1 mx-6 md:mx-14 xl:mx-20 my-0 xl:my-4"> -->
<div class="grid grid-cols-12">
  <!-- EXTENSIONES -->
  <div
    class="col-start-2 col-span-10 bg-rosado my-4 xl:my-12 rounded-xl shadow-xl"
  >
    <p
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6 font-passion"
    >
      LINEA
      <span>8891190, para llamadas a celular marca el # 7</span>
    </p>

    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      EXTENSIONES
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 mx-8 mt-0 mb-8">
      <p class="text-title text-xs md:text-base">
        Ext 111 <span class="font-roboto font-bold">CARTERA</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 112 <span class="font-roboto font-bold">VENTASPAP</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 113 <span class="font-roboto font-bold">SURTIDOR</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 115 <span class="font-roboto font-bold">BOD01LIDER</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 116 <span class="font-roboto font-bold">BODEGA COSMETICOS</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 117 <span class="font-roboto font-bold">VENTASPAP1</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 118 <span class="font-roboto font-bold">TESORERIA</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 120 <span class="font-roboto font-bold">VENTASPAP3</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 121 <span class="font-roboto font-bold">CONTADORA</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 122 <span class="font-roboto font-bold">COSMETICOSPDV</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 123 <span class="font-roboto font-bold">TRANSFERENCIAS</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 124 <span class="font-roboto font-bold">CACHARROPDV</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 130 <span class="font-roboto font-bold">CACHARROPDV2</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 135 <span class="font-roboto font-bold">CALLCENTER CENTRO 1</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 142 <span class="font-roboto font-bold">MARCELA CARDONA</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 150 <span class="font-roboto font-bold">MARTHA BORJA</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 151 <span class="font-roboto font-bold">RECIBO CEDI</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 152 <span class="font-roboto font-bold">ABASTECIMIENTO</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 153 <span class="font-roboto font-bold">TESORERIA CEDI</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 154
        <span class="font-roboto font-bold uppercase">RECEPCIÓN BODEGA</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 155 <span class="font-roboto font-bold uppercase">Sistemas</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 156 <span class="font-roboto font-bold uppercase">Compras</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 168 <span class="font-roboto font-bold uppercase">CALLCENT01</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 169
        <span class="font-roboto font-bold uppercase">CEDI DESPACHOS</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 170 <span class="font-roboto font-bold uppercase">CALLCENT02</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 171 <span class="font-roboto font-bold uppercase">CALLCENT03</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 172 <span class="font-roboto font-bold uppercase">CALLCENT04</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 173 <span class="font-roboto font-bold uppercase">RH</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 176
        <span class="font-roboto font-bold uppercase">CALLCENTER CENTRO 2</span>
      </p>
      <p class="text-title text-xs md:text-base">
        Ext 185
        <span class="font-roboto font-bold uppercase">Jenifer Romero</span>
      </p>
    </div>
  </div>

  <!-- CORREOS INSTITUCIONALES-->
  <div class="col-start-2 col-span-10 bg-azulclarito rounded-xl shadow-xl">
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      CORREO INSTITUCIONAL
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 mx-8 mt-0 mb-8 gap-x-10">
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        alba valencia:
        <a href="mailto:contabilidad@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            contabilidad&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        jamer muñoz:
        <a href="mailto:inventario@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            inventario&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        natalia duque:
        <a href="mailto:acontable@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            acontable&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        jhonatan villegas:
        <a href="mailto:admin.item@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            admin.item&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        kelly ruiz:
        <a href="mailto:compras2@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            compras2&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        sebastian hoyos:
        <a href="mailto:compras3@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            compras3&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        edison suarez:
        <a href="mailto:compras4@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            compras4&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        eliana barrera:
        <a href="mailto:compras5@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            compras5&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        logistica logistica:
        <a href="mailto:logistica@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            logistica&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        clara arias:
        <a href="mailto:gerencia@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            gerencia&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        factura universal:
        <a href="mailto:factura@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            factura&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        camila morales:
        <a href="mailto:sst@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            sst&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        maykol cardona:
        <a href="mailto:pagos@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            pagos&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        jessica cifuentes:
        <a href="mailto:tesoreria@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            tesoreria&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        geraldine quiñonez:
        <a href="mailto:cartera@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            cartera&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        andrea martinez:
        <a href="mailto:admon@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            admon&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        mercadeo mercadeo:
        <a href="mailto:marketing@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            marketing&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        factura universal:
        <a href="mailto:901160842@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            901160842&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        gerson fernandez:
        <a href="mailto:devoluciones@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            devoluciones&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        jorlen hoyos:
        <a href="mailto:mercadeo@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            mercadeo&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        publicidad publicidad:
        <a href="mailto:publicidad@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            publicidad&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        nelsy villota:
        <a href="mailto:admoncentro@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            admoncentro&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        mercedes ojeda:
        <a href="mailto:directorcomercial@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            directorcomercial&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        fernandez francisco:
        <a href="mailto:operacionescedi@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            operacionescedi&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        chavez edison:
        <a href="mailto:trasladoscedi@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            trasladoscedi&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        wisthong martinez:
        <a href="mailto:developer@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            developer&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        valencia orlando :
        <a href="mailto:compras1@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            compras1&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        pos factura:
        <a href="mailto:posuniversal@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            posuniversal&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        gloria mora :
        <a href="mailto:liderla14@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            liderla14&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        jose valencia:
        <a href="mailto:soporte@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            soporte&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        solmary vasquez:
        <a href="mailto:cobranzas@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            cobranzas&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        christian ruiz:
        <a href="mailto:sistemas@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            sistemas&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold uppercase text-xs md:text-base">
        alejandro bolivar:
        <a href="mailto:recibocedi@distribuidorauniversal.co">
          <span class="font-normal lowercase">
            recibocedi&#64;distribuidorauniversal.co
          </span>
        </a>
      </p>
    </div>
  </div>
</div>
