<!-- <div class="grid grid-cols-1 mx-6 md:mx-14 xl:mx-20 my-0 xl:my-4"> -->
<div class="grid grid-cols-12">
  <!-- EXTENSIONES -->
  <div
    class="col-start-2 col-span-10 bg-rosado my-4 xl:my-12 rounded-xl shadow-xl"
  >
    <p
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6 font-passion"
    >
      LINEA
      <span>8891190, para llamadas a celular marca el # 7</span>
    </p>

    <p></p>
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      EXTENSIONES
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 mx-8 mt-0 mb-8">
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 111 <span class="font-roboto font-bold">CARTERA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 112 <span class="font-roboto font-bold">VENTASPAP</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 113 <span class="font-roboto font-bold">SURTIDOR</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 115 <span class="font-roboto font-bold">BOD01LIDER</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 116 <span class="font-roboto font-bold">BODEGA COSMETICOS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 117 <span class="font-roboto font-bold">VENTASPAP1</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 118 <span class="font-roboto font-bold">TESORERIA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 120 <span class="font-roboto font-bold">VENTASPAP3</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 121 <span class="font-roboto font-bold">CONTADORA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 122 <span class="font-roboto font-bold">COSMETICOSPDV</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 123 <span class="font-roboto font-bold">TRANSFERENCIAS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 124 <span class="font-roboto font-bold">CACHARROPDV</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 130 <span class="font-roboto font-bold">CACHARROPDV2</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 135 <span class="font-roboto font-bold">CALLCENTER CENTRO1</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 142 <span class="font-roboto font-bold">MARCELA CARDONA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 150 <span class="font-roboto font-bold">MARTHA BORJA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 151 <span class="font-roboto font-bold">RECIBO CEDI</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 152 <span class="font-roboto font-bold">ABASTECIMIENTO</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 153 <span class="font-roboto font-bold">TESORERIA CEDI</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 154 <span class="font-roboto font-bold uppercase">CAJA CEDI</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 168 <span class="font-roboto font-bold uppercase">CALLCENT01</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 169
        <span class="font-roboto font-bold uppercase">CEDI DESPACHOS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 170 <span class="font-roboto font-bold uppercase">CALLCENT02</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 171 <span class="font-roboto font-bold uppercase">CALLCENT03</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 172 <span class="font-roboto font-bold uppercase">CALLCENT04</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 173 <span class="font-roboto font-bold uppercase">RH</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 176
        <span class="font-roboto font-bold uppercase">CALLCENTER CENTRO2</span>
      </p>
    </div>
  </div>

  <!-- CORREOS INSTITUCIONALES-->
  <div class="col-start-2 col-span-10 bg-azulclarito rounded-xl shadow-xl">
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      CORREO INSTITUCIONAL
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 mx-8 mt-0 mb-8 gap-x-10">
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        ALBA VALENCIA:
        <a href="mailto:contabilidad@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            contabilidad&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
     
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        NATALIA DUQUE:
        <a href="mailto:asist.contable@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            asist.contable&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>

      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        DIANA:
        <a href="mailto:cartera@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            cartera&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>


      <p

        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        CHRISTIAN RUIZ:
        <a href="mailto:sistemas@distribuidorauniversacali.com">
          <span class="font-normal lowercase">
            sistemas&#64;distribuidorauniversacali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        WISTHONG MARTINEZ:
        <a href="mailto:sistemas@distribuidorauniversacali.com">
          <span class="font-normal lowercase">
            developer&#64;distribuidorauniversacali.com
          </span>
        </a>
      </p>
      
      
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        JAMER MUÑOZ:
        <a href="mailto:inventario@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            inventario&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        JHONATAN VILLEGAS:
        <a href="mailto:admin.item@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            admin.item&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>

      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        ELIANA BARRERA:
        <a href="mailto:compras5@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            compras5&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>

      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        KELLY RUIZ:
        <a href="mailto:compras2@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            compras2&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>

      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        SEBASTIAN HOYOS:
        <a href="mailto:compras3@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            compras3&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>

      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        EDINSON SUAREZ:
        <a href="mailto:compras4@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            compras4&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>


      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ANDRES RIVADENEIRA:
        <a href="mailto:recursohumano@distribuidorauniversal.com ">
          <span class="font-normal lowercase">
            andresrivadeneria&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>

      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        FRANCISCO FERNANDEZ:
        <a href="mailto:logistica@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            operacionescedi&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        CLARITA:
        <a href="mailto:gerencia@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            gerencia&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        ENTRANTE:
        <a href="mailto:factura@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            factura&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        CAMILA MORALES:
        <a href="mailto:sst@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            sst&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        MAYKOL CARDONA:
        <a href="mailto:costos@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            costos&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        JESSICA CIFUENTES:
        <a href="mailto:tesoreria@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            tesoreria&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        ANDREA MARTINEZ:
        <a href="mailto:admon@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            admon&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>

      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ERIKA:
        <a href="mailto:recursohumano@distribuidorauniversal.com ">
          <span class="font-normal lowercase">
            recursohumano&#64;distribuidorauniversal.com
          </span>
        </a>
      </p>

      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        PASOANCHO:
        <a href="mailto:pdv14pasoancho@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            pdv14pasoancho&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        GLORIA MORA:
        <a href="mailto:liderla14@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            liderla14&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        JORLEN HOYOS:
        <a href="mailto:marketing@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            marketing&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        ELECTRÓNICA:
        <a href="mailto:901160842@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            901160842&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        GERSON FERNANDEZ:
        <a href="mailto:devoluciones@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            devoluciones&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        ERIKA PINEDA:
        <a href="mailto:pdvsexta@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            pdvsexta&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        JORLEN HOYOS:
        <a href="mailto:mercadeo@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            mercadeo&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        LUIS ROJAS:
        <a href="mailto:publicidad@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            publicidad&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        CONTABILIDAD:
        <a href="mailto:posuniversal@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            posuniversal&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        NELSY VILLOTA:
        <a href="mailto:admoncentro@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            admoncentro&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        MERCEDES OJEDA:
        <a href="mailto:liderpdvcentro@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            director.comercial&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        JENNIFER CAVICHE:
        <a href="mailto:asesor@distribuidorauniversalcali.com">
          <span class="font-normal lowercase">
            asesor&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        WILSON AGUIRRE:
        <a href="mailto:externo1pud@gmail.com">
          <span class="font-normal lowercase"> externo1pud&#64;gmail.com </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        MILTON GRISALEZ:
        <a href="mailto:externo2pud@gmail.com">
          <span class="font-normal lowercase"> externo2pud&#64;gmail.com </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        YANELLA KLINGER:
        <a href="mailto:asesor2pudoutlook.com ">
          <span class="font-normal lowercase"> asesor2pudoutlook.com </span>
        </a>
      </p>
      <p
        class="font-roboto font-bold uppercase text-xs md:text-base xl:text-lg"
      >
        MARTHA BORJA:
        <a href="mailto:asesor4pud@outlook.com">
          <span class="font-normal lowercase">
            asesor4pud&#64;outlook.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CONY LUGO:
        <a href="mailto:asesor5pud@outlook.com">
          <span class="font-normal lowercase">
            asesor5pud&#64;outlook.com
          </span>
        </a>
      </p>

      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        EDINSON CHAVEZ:
        <a href="mailto:recursohumano@distribuidorauniversal.com ">
          <span class="font-normal lowercase">
            trasladoscedi&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        SANDRA ARDILA:
        <a href="mailto:recursohumano@distribuidorauniversal.com ">
          <span class="font-normal lowercase">
            operacionescentro&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        STIVEN SUAREZ:
        <a href="mailto:recursohumano@distribuidorauniversal.com ">
          <span class="font-normal lowercase">
            recibocentro&#64;distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      
    </div>
  </div>
</div>
