@if (listPost.length>0) {
<!-- todo: carousel -->
<h1
  class="pt-6 text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title text-center font-passion"
>
  Productos nuevos
</h1>
<div class="my-0">
  <p-carousel
    [value]="listPost"
    [numVisible]="4"
    [numScroll]="4"
    [circular]="true"
    [showIndicators]="false"
    [showNavigators]="false"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="5000"
  >
    >
    <ng-template let-product pTemplate="item">
      <!-- <div class="border-2 surface-border border-round m-2 p-3"> -->
      <div class="m-2 p-3">
        <div class="mb-3 flex justify-center">
          <!-- <p class="text-violet-600">{{ "hola mundo" }}</p>
                 <p class="text-violet-600">{{ product | json }}</p> -->
          <a
            target="_blank"
            [href]="'http://192.168.40.47:4202/home/articulo/' + product._id"
          >
            <img
              [src]="product.imagenRelacional.url"
              [alt]="'imagen'"
              class="object-fill size-32 lg:size-36 rounded-xl cursor-pointer"
            />
          </a>
        </div>
        <div
          class="mb-3 font-semibold text-blue-950 dark:text-blue-700 text-center"
        >
          ITEM: {{ product.item }}
        </div>
        <!-- <div class="flex justify-content-between align-items-center">
               <div class="mt-0 font-semibold text-xl dark:text-white">
                 {{ "$" + product.price }}
               </div>
               <span>
                 <p-button
                   icon="pi pi-heart"
                   severity="secondary"
                   [outlined]="true"
                 />
                 <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
               </span>
             </div> -->
      </div>
    </ng-template>
  </p-carousel>
</div>

}
