<div class="container mx-auto">
  <div class="grid grid-cols-6 gap-4">
    <div class="col-start-1">
      <img class="w-20" src="../../assets/image/logo.png" alt="" srcset="" />
    </div>
    <div class="col-end-8">
      <img class="w-20" src="../../assets/image/logo.png" alt="" srcset="" />
    </div>
  </div>
  <h1 class="text-center text-5xl font-extrabold text-sky-600 py-4 uppercase">
    Universal <span class="" style="color: #fabc0b"> Distribuidora</span>
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam fugit
    fugiat odit ea natus soluta vel id inventore. Sequi ducimus impedit
    mollitia! Asperiores ex cumque debitis aperiam nihil nobis nisi. Explicabo
    et error nam nobis at molestiae quaerat ut a vitae eos. Reprehenderit a
    ipsam enim? Quas quae veniam qui ex quos commodi eius repellat ullam
    doloremque fugit! Accusamus, consequuntur. Neque perferendis voluptate,
    saepe beatae fugit dignissimos veritatis commodi consequuntur, soluta
    maiores quos tempora repellat suscipit, temporibus adipisci? Excepturi quos
    fuga accusantium libero repellendus repellat expedita aut reiciendis iusto
    dolores! Sit quidem totam repudiandae incidunt odit nostrum labore fugit
    eligendi dicta facere. Est, praesentium in! Repudiandae facilis voluptatibus
    molestias at alias, maiores perferendis, blanditiis necessitatibus dolorem
    nulla nisi similique qui.
  </p>

  <div id="controls-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="../../assets/image/logo.png" class="w-full" alt="..." />
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        <img src="../../assets/image/logo.png" class="w-full" alt="..." />
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="../../assets/image/logo.png" class="w-full" alt="..." />
      </div>
      <!-- Item 4 -->
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>

  <!-- <img
    class="w-full h-96"
    src="https://picsum.photos/700/500"
    alt=""
    srcset=""
  /> -->

  <div class="grid grid-cols-6 gap-2">
    <a
      class="text-base text-blue-600 hover:text-blue-800 hover:text-xl underline"
      href="http://192.168.40.247/"
      target="_blank"
      >Portal Sicodes</a
    >
    <a
      class="text-base text-blue-600 hover:text-blue-800 hover:text-xl underline"
      href="http://192.168.40.47/asesor"
      target="_blank"
      >Portal Anuncios</a
    >
    <a
      class="text-base text-blue-600 hover:text-blue-800 hover:text-xl underline"
      href="https://app-inventario-universal.web.app/home/lista"
      target="_blank"
      >Portal Inventario</a
    >
    <a
      class="text-base text-blue-600 hover:text-blue-800 hover:text-xl underline"
      href="https://web.zenvia.com/zenvia-conversion/login"
      target="_blank"
      >Portal Sirena</a
    >
    <a
      class="text-base text-blue-600 hover:text-blue-800 hover:text-xl underline"
      href="https://discord.gg/sgexFE2t"
      target="_blank"
      >Portal Discord</a
    >
  </div>
</div>
