<!-- MISION Y VISION -->
<div
  class="grid grid-cols-2 bg-[url('/assets/image/FONDOS/FONDO_1.png')] min-h-full"
>
  <div class="col-span-2">
    <div class="grid grid-cols-3">
      <div class="col-start-2">
        <img
          class="w-60 mx-auto bg-white rounded-b-2xl px-8 py-4"
          src="/assets/image/Logos/logo.png"
          alt="logo_universal"
          srcset=""
        />
      </div>
    </div>
  </div>
  <!-- IMAGEN -->
  <div class="mt-8">
    <img src="/assets/image/7744160.png" alt="" srcset="" />
  </div>

  <div class="mt-40">
    <h1 class="text-7xl text-title">Misión</h1>
    <p>
      Poner a disposición de nuestros clientes una oferta amplia y variada en
      nuestras líneas especializadas, respaldada por la asesoría y
      acompañamiento de nuestro equipo de servicio altamente capacitado para
      brindar una experiencia memorable inspirada en los valores que nos hacen
      una empresa unida, comprometida, alegre y trabajadora.
    </p>

    <h1 class="text-7xl text-title">Visión</h1>
    <p>
      Posicionarnos como una empresa líder en la comercialización de las
      categorías de papelería, cosméticos y línea institucional, convirtiéndonos
      en aliados de valor para nuestros clientes y sus emprendimientos. Siendo
      reconocidos por nuestra estructura empresarial sólida, innovadora,
      enfocada en el bienestar de nuestros colaboradores y en generar impacto
      positivo en nuestro entorno.
    </p>
  </div>
</div>

<!-- DIRECCIONAMIENTOS -->
<div class="grid grid-cols-7 bg-title">
  <a href="http://192.168.40.247/" target="_blank">
    <img src="/assets/image/ICONOS/SICODES.png" alt="" srcset="" />
  </a>
  <a href="http://192.168.40.247/" target="_blank">
    <img src="/assets/image/ICONOS/SIRENA.png" alt="" srcset="" />
  </a>
  <a href="http://192.168.40.247/" target="_blank">
    <img src="/assets/image/ICONOS/DISCORD.png" alt="" srcset="" />
  </a>
  <a href="http://192.168.40.247/" target="_blank">
    <img src="/assets/image/ICONOS/CLIENTES.png" alt="" srcset="" />
  </a>
  <a href="http://192.168.40.247/" target="_blank">
    <img src="/assets/image/ICONOS/ANUNCIOS.png" alt="" srcset="" />
  </a>
  <a href="http://192.168.40.247/" target="_blank">
    <img src="/assets/image/ICONOS/INVENTARIO.png" alt="" srcset="" />
  </a>
  <a href="http://192.168.40.247/" target="_blank">
    <img src="/assets/image/ICONOS/VENTAS.png" alt="" srcset="" />
  </a>
</div>

<!-- EXTENSIONES Y CORREOS -->
<div class="grid grid-cols-1 mx-20 my-4">
  <!-- EXTENSIONES -->
  <div class="bg-rosado my-12 rounded-xl shadow-xl">
    <h1 class="text-7xl text-title mx-8 my-6">EXTENSIONES</h1>
    <div class="grid grid-cols-4 mx-8 mt-0 mb-8">
      <p class="text-title">
        Ext 111 <span class="font-roboto font-bold">CARTERA</span>
      </p>
      <p class="text-title">
        Ext 112 <span class="font-roboto font-bold">VENTASPAP4</span>
      </p>
      <p class="text-title">
        Ext 113 <span class="font-roboto font-bold">SURTIDOR</span>
      </p>
      <p class="text-title">
        Ext 115 <span class="font-roboto font-bold">BOD01LIDER</span>
      </p>
      <p class="text-title">
        Ext 116 <span class="font-roboto font-bold">BODEGA COSMETICOS</span>
      </p>
      <p class="text-title">
        Ext 117 <span class="font-roboto font-bold">VENTASPAP1</span>
      </p>
      <p class="text-title">
        Ext 118 <span class="font-roboto font-bold">TESORERIA</span>
      </p>
      <p class="text-title">
        Ext 120 <span class="font-roboto font-bold">VENTASPAP3</span>
      </p>
      <p class="text-title">
        Ext 121 <span class="font-roboto font-bold">CONTADORA</span>
      </p>
      <p class="text-title">
        Ext 122 <span class="font-roboto font-bold">COSMETICOSPDV</span>
      </p>
      <p class="text-title">
        Ext 123 <span class="font-roboto font-bold">TRANSFERENCIAS</span>
      </p>
      <p class="text-title">
        Ext 124 <span class="font-roboto font-bold">CACHARROPDV</span>
      </p>
      <p class="text-title">
        Ext 130 <span class="font-roboto font-bold">CACHARROPDV2</span>
      </p>
      <p class="text-title">
        Ext 168 <span class="font-roboto font-bold">CALLCENT01</span>
      </p>
      <p class="text-title">
        Ext 169 <span class="font-roboto font-bold">CEDI DESPACHOS</span>
      </p>
      <p class="text-title">
        Ext 170 <span class="font-roboto font-bold">CALLCENT02</span>
      </p>
      <p class="text-title">
        Ext 171 <span class="font-roboto font-bold">CALLCENT03</span>
      </p>
      <p class="text-title">
        Ext 172 <span class="font-roboto font-bold">CALLCENT04</span>
      </p>
      <p class="text-title">
        Ext 173 <span class="font-roboto font-bold">RECURSO_H</span>
      </p>
      <p class="text-title">
        Ext 135 <span class="font-roboto font-bold">CALLCENTER_CENTRO1</span>
      </p>
      <p class="text-title">
        Ext 176 <span class="font-roboto font-bold">CALLCENTER_CENTRO2</span>
      </p>
    </div>
  </div>

  <!-- CORREOS INSTITUCIONALES-->
  <div class="bg-azulclarito rounded-xl shadow-xl">
    <h1 class="text-7xl text-title mx-8 my-6">CORREO INSTITUCIONAL</h1>
    <div
      class="grid grid-cols-3 divide-x-2 divide-title mx-8 mt-0 mb-8 gap-x-10"
    >
      <p class="font-roboto font-bold">
        ALBA VALENCIA:
        <span class="font-normal">
          contabilidad@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        CHRISTIAN RUIZ:
        <span class="font-normal">
          sistemas@distribuidorauniversacali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        NATALIA DUQUE:
        <span class="font-normal">
          asist.contable@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        JAMER MUÑOZ:
        <span class="font-normal">
          inventario@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        JHONATAN VILLEGAS:
        <span class="font-normal">
          admin.item@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        KELLY RUIZ:
        <span class="font-normal">
          compras2@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        SEBASTIAN HOYOS:
        <span class="font-normal">
          compras3@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        EDINSON SUAREZ:
        <span class="font-normal">
          compras4@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        ELIANA BARRERA:
        <span class="font-normal">
          compras5@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        FRANCISCO FERNANDEZ:
        <span class="font-normal">
          logistica@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        CLARITA:
        <span class="font-normal">
          gerencia@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        ENTRANTE:
        <span class="font-normal">
          factura@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        CAMILA MORALES:
        <span class="font-normal"> sst@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold">
        JUAN CASTRILLON:
        <span class="font-normal"> costos@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold">
        JESSICA CIFUENTES:
        <span class="font-normal">
          tesoreria@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        DIANA:
        <span class="font-normal">
          cartera@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        ANDREA MARTINEZ:
        <span class="font-normal"> admon@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold">
        PASOANCHO:
        <span class="font-normal">
          pdv14pasoancho@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        GLORIA MORA:
        <span class="font-normal">
          liderla14@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        DANIELA MARTINEZ:
        <span class="font-normal">
          marketing@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        ELECTRÓNICA:
        <span class="font-normal">
          901160842@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        GERSON FERNANDEZ:
        <span class="font-normal">
          devoluciones@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        ERIKA PINEDA:
        <span class="font-normal">
          pdvsexta@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        RICARDO ZAMBRANO:
        <span class="font-normal">
          mercadeo@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        LINA MONTENEGRO:
        <span class="font-normal">
          publicidad@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        CONTABILIDAD:
        <span class="font-normal">
          posuniversal@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        NELSY VILLOTA:
        <span class="font-normal">
          admoncentro@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        AMPARO RESTREPO:
        <span class="font-normal">
          liderpdvcentro@distribuidorauniversalcali.com
        </span>
      </p>
      <p class="font-roboto font-bold">
        JENNIFER CAVICHE:
        <span class="font-normal"> asesor@distribuidorauniversalcali.com </span>
      </p>
      <p class="font-roboto font-bold">
        WILSON AGUIRRE: <span class="font-normal"> externo1pud@gmail.com </span>
      </p>
      <p class="font-roboto font-bold">
        MILTON GRISALEZ:
        <span class="font-normal"> externo2pud@gmail.com </span>
      </p>
      <p class="font-roboto font-bold">
        YANELLA KLINGER:
        <span class="font-normal"> asesor2pudoutlook.com </span>
      </p>
      <p class="font-roboto font-bold">
        MARTHA BORJA: <span class="font-normal"> asesor4pud@outlook.com </span>
      </p>
      <p class="font-roboto font-bold">
        CONY LUGO: <span class="font-normal"> asesor5pud@outlook.com </span>
      </p>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="grid grid-cols-2 my-4">
  <p class="text-center text-title font-passion">
    © 2023 Desarrollador: Wisthong David Martinez Castro
  </p>
  <p class="text-center text-title font-passion">© 2023 Diseño: Luis Rojas</p>
</div>
